{% extends 'core/base.html' %}

{% block title %} Practice | Cook-Off | Chef's Arena {% endblock %}
{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'core/css/404.css' %}" />
{% endblock %}
{% block body %}
<div class="main">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/contest/practice">Practice</a></li>
            <li class="breadcrumb-item active" aria-current="page">Cook-Off</li>
        </ol>
    </nav>
    <div class="custom-card">
        <div class="row">
            <h1>{{contest.name}}</h1>
            {% for rank in ranks %}
                <div class="stars{{rank.user.stars}}">
                {{ forloop.counter }} Username : {{rank.user.username}} <br>
                Rating: {{rank.user.rating}} <br>
                Country Rank : {{rank.user.countryrank}} <br>
                Global rank : {{rank.user.globalrank}} <br>
                College Rank : {{rank.user.collegerank}} <br>
                Stars : {{rank.user.stars}} 
                </div>
            
            <br> <br>
            {% endfor %}
        </div>
    </div>
    {% endblock %}
    {% block post-js %}
    {% include 'core/hard_refresh_on_back_button_click.html' %}
    {% endblock %}