{% extends 'main/base.html' %}
{% load static %}
{% block title %} Practice {% endblock %}

{% block nav %}
{% include 'main/nav-base.html' %}
{% endblock %}

{% block main %}
<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-12" style="display: flex; justify-content: center;">
                <div class="custom-card">
                    <h3>General Instructions:</h3>
                    <hr />
                    <ul>
                        <li> <b>Cook a Problem Set :</b>  Customise your own problem set.</li>
                        <li><b>Solve a Problem Set : </b>  Solve custom problem set made by other members.</li>
                        <li>Each contest/Problem is custom-made and consists of varyying number of problems.</li>
                        <li>You can create/participate in only one practice contest (of either of the three categories) at any
                            instant of time.</li>
                        <li>All other instructions and rules of a CodeChef Cook-Off are applicable in the practice contest.</li>
                        
                            <b> CodeChef API does not provide us with the option to 'submit' problems on behalf of users,
                            Submit the solution on the CodeChef Platform and click on the 'Check' button in the contest page to confirm.
                            </b>
                        </li>

                    </ul>
                    <hr />
                    <div style="text-align: center;">
                        <a class="button submit" href="/contest/practice/custom/create" >Cook a Problemset</a>
                        <a class="button submit" href="/contest/practice/custom/solve">Solve a Problemset</a>
                    </div>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</section>
    
{% endblock %}
{% block post-js %}
{% include 'core/hard_refresh_on_back_button_click.html' %}
{% endblock %}